.nav {
  padding: 20px;
  grid-area: n;
  background-color: #dfb648;
}
.item {
  padding: 5px;
}
.item a {
  color: rgb(250, 250, 250);
  text-decoration: none;
}
.item a:active,
.item a:hover,
.item a:focus {
  color: red;
}
