* {
  text-decoration: none;
}

.dialogs {
  padding: 10px;
  display: grid;
  grid-template-columns: 3fr 9fr;
}
.dialogsItems {
  padding-left: 20px;
}
.dialogsItems .active {
  color: red;
}

.message {
  color: rgb(76, 0, 255);
}
