* {
  text-decoration: none;
}

.dialogs {
  padding: 4px 0;
  display: grid;
  grid-template-columns: 3fr 9fr;
  row-gap: 2px;
}
.dialogsItems {
  padding-left: 12px;
}
.dialogs img {
  height: 24px;
  width: 24px;
  border-radius: 40%;
}
.dialogsItems .active {
  color: rgb(236, 27, 27);
}

.message {
  padding: 5px;
  color: rgb(97, 31, 252);
}
